body {
    font-family: 'Times New Roman';
    font-size: xx-small;
    background-color: rgb(5, 5, 4);
    color: rgb(231, 241, 241);
    margin: 0;
    padding: 0;
  }

  header {
    background-color: rgb(87, 20, 19);
    color: #ffffff;
    padding: 5p;
    text-align: center;
  }

  h1 {
    font-family: 'Times New Roman';
    font-size: xx-large;
    margin: 0;
  }
  
  h2 {
    font-family: 'Georgia';
    font-size: medium;
  }

  #searchInput {
    font-family: 'Times';
    margin-top: 1px;
    padding: 10px;
    width: 250px;
  }
  
  main {
    padding: 200px;
  }